<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
<style>
#header-top { /* header 부분의 가장 위 */
	height: 150px;
}

#header-main { /* header 부분의 중앙 */
	display: flex;
	align-items: center;
	padding-left: 25px;
	height: 50%;
	background-color: white;
	justify-content: center;
	/*test*/
	border-bottom: 1px solid rgb(243,243,243);
}

#main-menu {
	display: flex;
	align-items: flex-end;
}

#header-bottom { /* header 부분의 아래쪽 */
	display: flex;
	justify-content: center;
	height: 25%;
}

#usermenu {
	display: flex;
	gap: 25px;
}

#login-container , #logout-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

#joinmember-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

#myplace-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

#QnA-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.label {
	font-size: 13px;
}

.sm, #writeMovie {
	display: inline-flex;
	align-items: center;
}

#sub-menu {
	height: 100%;
	width: 100%;
	display: flex;
	gap: 25px;
	align-items: center;
	border-bottom: 2px solid red;
	justify-content: center;
}

#detail-menu {
	display: flex;
	gap: 25px;
}

.sm {
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	display: inline-block;
}

.sm:hover {
	color: red;
	cursor: pointer;
	line-height: 24px;
}

#writeMovie {
	border: 0;
	font-size: 16px;
	height: 30px;
	margin-top: 12px;
}

.img-button {
	background-image: url('/img/search.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: white;
	width: 26px;
	height: 26px;
	border: none;
	cursor: pointer;
	padding: 0;
}

#movie {
	display: flex;
	flex-direction: column;
}

#detail-menu {
	display: none;
	justify-content: center;
	width: 100%;
	height: 350px;
	background-color: rgb(248, 248, 248);
	gap: 30px;
	z-index: 100;
	position: absolute;
}

ul {
	list-style: none;
	border-right: 2px solid rgba(255, 216, 216, 0.7);
}

li {
	margin-bottom: 10px;
	margin-right: 20px;
}

.title {
	font-weight: bold;
}

a {
	text-decoration: none;
	color: black;
}
a:link{
	color: black;
	text-decoration: none;
}
a:visited {
	color: black;
	text-decoration: none;
}

a:hover {
	color: green;
}
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
	$(document).ready(function() {
		$("#img-button").click(function() {
			alert("test");
		});
		$(".sm").hover(function() {
			// 마우스를 요소 위에 올렸을 때 실행
			$("#detail-menu").stop(true, true).slideDown(400);
			$("#detail-menu").css("display", "flex");
		}, function() {
			// 마우스를 요소에서 벗어났을 때 실행
		});
		$("#detail-menu").mouseleave(function() {
			$("#detail-menu").stop(true, true).slideUp(200);
		})
	});
</script>

	<div id="header-top">
		<div id="carouselExampleControls" class="carousel slide"
			data-bs-ride="carousel">
			<div class="carousel-inner"
				style="width: 100%; height: 100%; margin: auto;">
				<div class="carousel-item active">
					<a href="#?req=banner1"> <img class="d-block w-100"
						src="img/banner1.jpg" alt="..." style="width: 100%;" />
					</a>
				</div>
				<div class="carousel-item">
					<a href="#?req=banner2"> <img class="d-block w-100"
						src="img/banner2.png" alt="..." style="width: 100%;" />
					</a>
				</div>
				<div class="carousel-item">
                <a href="#?req=banner3"> 
                    <img class="d-block w-100" src="img/banner3.jpg" alt="..." style="width: 100%;" />
                </a>
            	</div>
			</div>
		</div>
	</div>
	<div id="header-main">
		<div id="main-menu">
			<a href="/"><img alt="로고" src="img/logo.png" width="117px" height="53px"></a><span
				style="color: black">DEEP DIVE SPACE</span> <img alt="카드"
				src="img/카드.png" width="136" height="39"
				style="margin-left: 500px; margin-right: 25px;">
			<div id="usermenu">
				<th:block th:if="${session.memId == null}">
				
				<a href="login"><div id="login-container">
						<img alt="로그인" src="img/login.png" width="36px" height="36px">
						<span class="label">로그인</span>
				</div></a>
				
				</th:block> 
				<th:block th:if="${session.memId != null}">
				<a href="logout"><div id="logout-container">
						<img alt="로그아웃" src="img/logout.png" width="36px" height="36px">
						<span class="label">로그아웃</span>
				</div></a>
				</th:block>
				<a href="#"><div id="joinmember-container">
						<img alt="회원가입" src="img/joinmember.png" width="36px" height="36">
						<span class="label">회원가입</span>
				</div></a> 
				<a href="#"><div id="myplace-container">
						<img alt="내정보" src="img/myplace.png" width="36px" height="36">
						<span class="label">MY CCV</span>
				</div></a> 
				<a href="#"><div id="QnA-container">
						<img alt="고객센터" src="img/QnA.png" width="36px" height="36">
						<span class="label">고객센터</span>
				</div></a>
			</div>
		</div>
	</div>
	<div id="header-bottom">
		<div id="sub-menu">
			<span class="sm">영화</span> <span class="sm">극장</span> <span
				class="sm">예매</span> <span class="sm">스토어</span> <span class="sm">이벤트</span>
			<span class="sm">혜택</span> |
			<form action="#">
				<input type="text" style="margin-left: 100px;" id="writeMovie"
					placeholder="영화를 검색해주세요"> <input type="button" value=""
					class="img-button" id="img-button">
			</form>
		</div>

	</div>
	<div id="detail-menu">
		<ul>
			<li class="title">영화</li>
			<li>무비차트</li>
			<li>아트하우스</li>
			<li>ICECON</li>
		</ul>
		<ul>
			<li class="title">극장</li>
			<li>CCV 극장</li>
			<li>특별관</li>
		</ul>
		<ul>
			<li class="title">예매</li>
			<a href="tickecting"><li>빠른예매</li></a>
			<li>상영스케줄</li>
			<li>English Ticketing</li>
			<li>English Schedule</li>
		</ul>
		<ul>
			<li class="title">스토어</li>
			<li>패키지</li>
			<li>영화관람권</li>
			<li>기프트카드</li>
			<li>콤보</li>
			<li>팝콘</li>
			<li>음료</li>
			<li>스낵</li>
			<li>플레이존</li>
			<li>씨네샵</li>
		</ul>
		<ul>
			<li class="title">이벤트</li>
			<li>SPECIAL</li>
			<li>영화/예매</li>
			<li>멤버십/CLUB</li>
			<li>CCV 극장별</li>
			<li>제휴할인</li>
			<li>당첨자 발표</li>
			<li>종료된 이벤트</li>
		</ul>
	</div>





