<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<script type="text/javascript">
	function checkIdClose(){
		opener.writeinfoForm.id.value = "[[${id}]]";
		opener.writeinfoForm.idChecking.value = 1;
		window.close();
		opener.writeinfoForm.pwd.focus();
	}
</script>
</head>
<body>
	<th:block th:if="${result}">
		<p>[[${id}]]는 사용가능합니다</p><br>
		<input type="button" value="아이디 사용" onclick="checkIdClose()">
	</th:block>
	<th:block th:if="${!result}">
		<p>[[${id}]]는 이미 사용중 입니다.</p>
		<form action="idCheck">
			아이디 <input type="text" name="id"><input type="submit" value="중복 체크">
		</form>
	</th:block>
</body>
</html>