<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link ref="stylesheet" href="css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
	$(document).ready(function(){
		$("#writeEmail").css("display","none");
		$("#writeEmail").attr("disabled","disabled");
		$("#code").attr("disabled","disabled");
		$("#email2").change(function(){
			var email = $("#email2").val();
			if(email == "직접입력"){
				$("#writeEmail").css("display","block");
				$("#writeEmail").removeAttr("disabled");
			}else if(email != "직접입력"){
				$("#writeEmail").css("display","none");
				$("#writeEmail").attr("disabled","disabled");
			}
		});
		
		$("#getCode").click(function(){
			if(!$("#email1").val().trim()){
				alert("이메일을 입력해주세요");
				$("#email1").focus();
				return false;
			}else if($("#email2").val() == "직접입력" && !$("#writeEmail").val().trim()){
				alert("이메일을 입력해주세요");
				$("#writeEmail").focus();
				return false;
			}
			$.ajax({
				url:"sendCodeByEmail?email1="+$("#email1").val() + "&email2="+$("#email2").val() + "&wireteEmail=" + $("#writeEmail").val() + "&code=" + $("#resultCode").val(),
				type:"post",
				success:function(response){
					$("#code").removeAttr("disabled");
					alert("이메일 전송 성공");
				},
				error:function(xhr,status,error){
					alert("이메일 전송 실패");
				}
			})
		});
		
		$("#checkCode").click(function(){
			if($("#resultCode").val() == $("#code").val()){
				alert("본인인증 성공");
				$.ajax({
					url:"agree?email1="+$("#email1").val() + "&email2=" + $("#email2").val() + "&writeEmail=" + $("#writeEmail").val() ,
					get:"get",
					success:function(response){
						$("#main-place").html(response);
						$("#identity-choice").empty();
						$("#no1 p").css("color","black");
						$("#no1 p").css("text-decoration","none");
						$("#no2 p").css("color","orange");
						$("#no2 p").css("text-decoration","underline");
					}
				});
			}else{
				alert("인증번호가 틀립니다");
			}
		})
	});
</script>
<style type="text/css">
input[type="button"]{
	border-radius: 8px;
	background: black;
	color:white;
}
input[type="text"]{
	width: 99px;
}
</style>
</head>
<body>
	<input type="hidden" id="resultCode" th:value="${code}">
		<table class="table">
			<tr class="table table-dark">
				<td colspan="5" align="center">
					<h5>이메일 인증</h5>
				</td>
			</tr>
			<tr>
				<td>
					이메일
				</td>
				<td>
					<input type="text" name="email1" id="email1" style="margin-right: 50px;">@
				</td>
				
				<td>
					<input type="text" name="writeEmail" id="writeEmail">
				</td>
				<td>
					<select name="email2" id="email2" style="margin-left: 50px;">
						<option value="naver.com">naver.com</option>
						<option value="gmail.com">gmail.com</option>
						<option value="nate.net">nate.net</option>
						<option value="직접입력">직접입력</option>
					</select>
				</td>
				<td>
					<input type="button" id="getCode" value="인증번호 받기">
				</td>
			</tr>
			<tr>
				<td>
					인증번호
				</td>
				<td colspan="3">
					<input type="text" name="code" id="code">
				</td>
				<td>
					<input type="button" id="checkCode" value="인증번호 확인">
				</td>
			</tr>
		</table>
</body>
</html>