<div th:replace="~{layouts/header}"></div>
<style type="text/css">
#buttons{
	height: 74px;
}
#main-content{
	margin-top: 100px;
	display: flex;
	justify-content: center;
}
#movies{
	display:flex;
	flex-direction:column;
	width: 284px;
	margin-right: 2px;
}
#cinema{ 
	display: flex;
	flex-direction: column;
	width:265px;
	margin-right: 2px;
}
#day{ 
	display: flex;
	flex-direction: column;
	width: 91px;
	margin-right: 2px;
}
#time{ 
	display: flex;
	flex-direction: column;
	width: 346px;
} 
.menu-title{
	color:rgb(214,214,214);
	background: black;
	height: 33px;
	text-align: center;
	font-weight: bold;
}	
.menu-content{
	height: 565px;
	background-color: rgb(241,240,230);
}
</style>
<div id="buttons">

</div>
<div id="main-content">
	<div id="movies">
		<div class="menu-title">영화</div>
		<div class="menu-content">
		
		</div>
	</div>
	<div id="cinema">
		<div class="menu-title">극장</div>
		<div class="menu-content">
		
		</div>
	</div>
	<div id="day">
		<div class="menu-title">날짜</div>
		<div class="menu-content">
		
		</div>
	</div>
	<div id="time">
		<div class="menu-title">시간</div>
		<div class="menu-content">
		
		</div>
	</div>
</div>