<title>CCV 관리자로그인</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<style type="text/css">
#loginForm{
	margin: auto;
	width: 300px;
	margin-top: 12.5%;
}
</style> 
	<form action="adminLogin" method="post">
		<table class="table" id="loginForm">
			<tr class="table-danger">
				<th colspan="2" style="text-align: center;">CCV관리자 로그인
				</th>
			</tr>
			<tr>
				<th>
					아이디
				</th>
				<td>
					<input type="text" name="id" id="id" required="required">
				</td>
			</tr>
			<tr>
				<th>
					비밀번호
				</th>
				<td>
					<input type="password" name="pwd" id="pwd" required="required">
				</td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<input type="submit" value="로그인" class="btn btn-danger">
				</td>
			</tr>
		</table>
	</form>
